$colorPrincipal: #f05f40;
$assetPath : "/img";
$bg-url: url(#{$assetPath}/ZorogolfPortadaWeb.png);
$colorSecundario: #fff;


html,
body {
	width: 100%;
	height: 100%;
	font-family: 'El Messiri', sans-serif;
	font-size: 20px;
}

hr {
		max-width: 50px;
		border-color: $colorPrincipal;
		border-width: 3px;
}

hr.light {
		border-color: $colorSecundario;
}

a {
		color: $colorPrincipal;
		-webkit-transition: all .35s;
		-moz-transition: all .35s;
		transition: all .35s;
}

a:hover,
a:focus {
		color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Concert One";
	font-style: normal;
	font-weight: 400;
}

p {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 1.5;
}

.partida {
	margin-top: 3.5rem;	
}

.bg-primary {
		background-color: $colorPrincipal !important;
}

.bg-dark {
		color: $colorSecundario;
		background-color: #222;
}

.bg-inverse {
		background-color: $colorPrincipal!important;
}

.text-faded {
		color: rgba(255,255,255,.7);
}

.contenido {
		margin-top: 2.5rem;
		//margin-left: 1rem;
}

.enlinea{
		display: inline;
}

.no-padding {
		padding: 0;
}

header {
		position: relative;
		width: 100%;
		min-height: auto;
		text-align: center;
		color: $colorSecundario;
		background-image: $bg-url;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
}

header .header-content {
		position: relative;
		width: 100%;
		padding: 100px 15px;
		text-align: center;
}

header .header-content .header-content-inner h1 {
		margin-top: 0;
		margin-bottom: 0;
		text-transform: uppercase;
		font-weight: 700;
		color: darkgreen;
}

header .header-content .header-content-inner hr {
		margin: 30px auto;
}

header .header-content .header-content-inner p {
		margin-bottom: 50px;
		font-size: 16px;
		font-weight: 300;
		color: ivory;
}

@media(min-width:768px) {
		header {
				min-height: 100%;
		}

		header .header-content {
				position: absolute;
				top: 50%;
				padding: 0 50px;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
		}

		header .header-content .header-content-inner {
				margin-right: auto;
				margin-left: auto;
				max-width: 1000px;
		}

		header .header-content .header-content-inner p {
				margin-right: auto;
				margin-left: auto;
				max-width: 80%;
				font-size: 18px;
		}
}

.text-primary {
		color: $colorPrincipal;
}

.btn-default {
		border-color: $colorSecundario;
		color: #222;
		background-color: $colorSecundario;
		-webkit-transition: all .35s;
		-moz-transition: all .35s;
		transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
		border-color: #ededed;
		color: #222;
		background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
		background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
		border-color: $colorSecundario;
		background-color: $colorSecundario;
}

.btn-default .badge {
		color: $colorSecundario;
		background-color: #222;
}

.btn-primary {
		border-color: peachpuff;
		color: $colorSecundario;
		background-color: peachpuff;
		-webkit-transition: all .35s;
		-moz-transition: all .35s;
		transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
		border-color: chocolate;
		color: $colorSecundario;
		background-color: chocolate;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
		background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
		border-color: grey;
		background-color: grey;
}

.btn-primary .badge {
		color: peachpuff;
		background-color: $colorSecundario;
}

.btna {
		border: 0;
		border-radius: 300px;
		text-transform: uppercase;
		font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
		font-weight: 700;
}

.btn-xl {
		padding: 15px 30px;
}
.btn-margen{
	margin-left: 10px;
	margin-top: 10px;
}

::-moz-selection {
		text-shadow: none;
		color: $colorSecundario;
		background: #222;
}

::selection {
		text-shadow: none;
		color: $colorSecundario;
		background: #222;
}

img::selection {
		color: $colorSecundario;
		background: 0 0;
}

img::-moz-selection {
		color: $colorSecundario;
		background: 0 0;
}

.margen-top20 {
	margin-top: 20px;
}

.wheat {
	 background-color:wheat;
}

.imagenLogo {
	height: 40px;
	margin: 5px;
}

.fixed-top {
	background: $colorPrincipal }

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggler {
	font-size: 1.3rem;
	text-transform: uppercase; 
}

.navbar{
	background-color: $colorPrincipal;
	background-image: none;
}
.navbar-default .navbar-nav > li > a {color: white;}
.tituloJugador {
	background: wheat;
	padding: 15px;
	border: 1px solid #222;
	box-shadow: 1px 1px 1px 1px #222;
	border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

[type='radio'] {
display: none;
}

.clickable:hover {
	cursor: pointer;
}

.bottom-align > * {
		float: none;
		display: inline-block;
}

.bottom-align > *:last-child {
		vertical-align: bottom;
}

input[type="text"], select {
	font-family: "Concert One";
}
		
.checkbox label, .radio label {
	padding-left: 0px;
}

#login-dropdown-list .dropdown-menu {
	min-width: 300px;
	padding: 15px;
	left: initial;
	right: 0;
}
#login-dropdown-list input:first-of-type {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#login-dropdown-list input {
	margin: 0 0 -1px;
	border-radius: 0px;
	position: relative;
	z-index: 1;
}
#login-dropdown-list .btn {
	margin-top: 5px;
}
#login-dropdown-list #forgot-password-link, #login-dropdown-list #signup-link {
	margin-top: 10px;
}
#login-dropdown-list a {
	cursor: pointer;
}

.panel-partida {
	margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.panel-partida-label {
	color: $colorSecundario;
}

.panel-lista-partidas {
  margin-top: 1rem;
}

.panel-lista-partidas-interior {
  border: solid $colorPrincipal;
  padding: 1rem;
  border-radius: 0.5rem;
}

.item-clickable {
	color: $colorPrincipal;
}

.card-header {
	color: $colorSecundario;
	background: $colorPrincipal;
}

.margen-izquierdo {
	margin-left: 2rem;
}

.lista-jugadores {
  padding-top: 1rem;
}

.panel-jugador {
	margin-bottom: 1rem;
}

.thumbnail {
	margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}


//********************** CheckBox ********************
// From http://bootsnipp.com/snippets/featured/badgebox-css-checkbox-badge
/* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
  opacity: 0;
}

.badgebox + .badge
{
  /* Move the check mark away when unchecked */
  text-indent: -999999px;
  /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
  /* Set something to make the badge looks focused */
  /* This really depends on the application, in my case it was: */
  
  /* Adding a light border */
  box-shadow: inset 0px 0px 5px;
  /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}

.btn-checkbox {
		border-color: $colorPrincipal;
		color: $colorSecundario;
		background-color: $colorPrincipal;
}

.badge {
  border: solid 2px;
  padding: .1em .15em;
  border-radius: 1em;
}
//********************** CheckBox ********************

.cursor:hover { 
	cursor: pointer; 
	cursor: hand; 
}

.carta-modal {
	border-width: 2px;
	border-radius: 1em;
	border-color: $colorPrincipal;
}